@charset 'utf-8';
@import 'normalize';

@import 'antisocial/default-variables';

$code-font: Menlo, Monaco, "Courier New", Courier, monospace;
$sans-font: Geneva, Arial, sans-serif;
$serif-font: Cambria, Georgia, "Times New Roman", Times, serif;

$default-background: #fff;
$subtle-background: rgba(0, 0, 0, .05);

$default-color: #000;
$light-color: rgba(0, 0, 0, .84);
$lighter-color: rgba(0, 0, 0, .68);
$lightest-color: rgba(0, 0, 0, .54);
$accent-color: #af1cae;
$accent-highlight-color: #d66de8;

$is-wide-screen: "(min-width: 768px)";

@import 'antisocial/typography';
@import 'antisocial/layout';
@import 'antisocial/syntax';
@import 'antisocial/fouc-fix';
