---
layout: default
---

{%- assign home_classes = "home" -%}
{%- if site.show_excerpts -%}
  {%- assign home_classes = home_classes | append: " show-excerpts" -%}
{%- endif -%}

<div class="{{ home_classes }}">
  {%- if page.title -%}
    <h1>{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- assign posts = site.posts -%}
  {%- if site.paginate > 0 -%}
    {%- assign posts = paginator.posts -%}
  {%- endif -%}

  {%- if posts.size > 0 -%}
    {%- for post in posts -%}
      {%- include post-meta.html author=post.author content=post.content page_date=post.date -%}
      <h3>
        <a href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
        {%- assign excerpt = post.excerpt | strip -%}
        {{ excerpt }}
        <p>
          <a class="button" href="{{ post.url | relative_url }}">
            {%- if excerpt == "" -%}
              Read More
            {%- else -%}
              Continue Reading
            {%- endif -%}
          </a>
        </p>
      {%- endif -%}
    {%- endfor -%}

    {%- if site.paginate > 0 -%}
      <div class="pagination">
        {%- if paginator.previous_page -%}
          <a href="{{ paginator.previous_page_path }}" class="previous">← Newer</a>
        {%- else -%}
          <span class="previous"></span>
        {%- endif -%}
        <span class="page_number">{{ paginator.page }} / {{ paginator.total_pages }}</span>
        {%- if paginator.next_page -%}
          <a href="{{ paginator.next_page_path }}" class="next">Older →</a>
        {%- else -%}
          <span class="next"></span>
        {%- endif -%}
      </div>
    {%- endif -%}
  {%- endif -%}
</div>
